@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
#person-color .material-icons{
    color: white;
}
#person-color .collapsible-header{
    background-color: #4a148c;
    color: white;
}
.tracker
{
    display: none;
}
.collapsible, .collapsible-header
{
  
  border: 0;
}
.collapsible a{
    color: white;
  text-decoration: none;  
}
.btn{
  background-color: #4a148c;
}
.btn:visited{
  background-color: #6a1b9a;
}
.btn:hover {
  background-color: #8e24aa;
}
.btn:active{
  background-color: #9c27b0;
}
.not-active {
  pointer-events: none;
  cursor: default;
}
.home-inner
{
	/*padding-top: 100px;
	padding-bottom: 100px;*/
	/*padding: 40px;*/
	margin-top: 100px;
}
.parallax img
{
	/*width: 100%;*/
}
.row
{
	/*padding: 60px;*/
	/*height: 400px;*/
}
.container
{
	width: 80%;
}
.contact-sec
{
	padding-top: 50px;
	padding-bottom: : 50px;
	margin-bottom: 0!important;
}
.skill-sec
{
    padding-top: 30px;
    padding-bottom: : 50px;
    margin-bottom: 0!important;
}
.certi-sec
{
    padding-top: 30px;
    padding-bottom: : 50px;
    margin-bottom: 0!important;
}
.home-title
{
	font-style: black;
	color: skyblue;
    font-weight: bold;
}
.subtitle
{
    color: white;
    font-style: italic;
}
.home-subtitle
{
    padding-bottom: 50px;
}
.mystory
{
    font-style: italic;
}
.home-content
{
	padding-top: 20px;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-quora {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-quora:hover {
    background-color: #A82300;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #0E2535;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}